.pine_slider {
    padding: 100px 0px;
}

@media(max-width:767px) {
    .contact_head br {
        display: none;
    }

    .contact_head {
        font-size: 34px;
        line-height: 48px;
        letter-spacing: 1px;
    }
}