/* VillasSection.css */

.villas_page .escape_villa::after {
    top: -30%;
}

.villas_pag {
    padding: 50px 0;
}

.villas_pag .villa-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.villas_pag .villa-wrapper:nth-child(2n + 1) {
    margin-right: 0px;
    /* Avoid additional spacing on left columns */
}

.villas_pag .villa-image {
    width: 100%;
    height: 310px;
    background-color: #e0e0e0;
    border-radius: 0px 0px 0 0;
}

.villas_pag .villa-card {
    width: 74%;
    position: absolute !important;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 64%;
    transform: translateX(-50%);
    z-index: 1;
    left: 50%;
    border-radius: 0px !important;
}

.offset-top {
    margin-top: 65px !important;
    /* Add consistent spacing only for the right column */
}

.villa-wrapper+.villa-wrapper {
    margin-top: 65px !important;
    /* Maintain consistent spacing between rows */
}

.villas_pag .card-title {
    font-family: 'GFS Didot';
    font-size: 32px;
    margin-bottom: 0px;
    line-height: 40px;
}

.villas_pag .styled-hr {
    color: #1B1C21;
    opacity: 1;
    margin: 20px auto;
    width: 123px;
    text-align: center;
}

.villas_pag .card-text {
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 28px;
    color: #666666;
}

.villas_page .service {
    margin-top: 100px;
}

.villas_page .testimonial-sec {
    margin-bottom: 100px;
}

.villas_page .middle_text {
    font-family: 'Raleway';
    line-height: 26px;
    font-size: 17px;
    text-align: center;
    color: #666666;
}

.villas_page .mid_text_area {
    padding: 100px 0px 0px;
}

@media(max-width:1024px) {
    .villas_pag .card-title {
        font-size: 22px;
        line-height: 32px;
    }

    .villas_pag .card-text {
        font-size: 15px;
        line-height: 24px;
    }
}

@media(max-width:767px) {
    .villas_pag .card-title {
        font-size: 20px;
        line-height: 28px;
    }

    .villas_page .middle_text br {
        display: none;
    }

    .villas_page .mid_text_area {
        padding: 60px 0px 0px 0px;
    }

    .villas_pag {
        padding: 0px 0px;
    }

    .offset-top {
        margin-top: 0px !important;
    }
}