.banner-wrapper {
    position: relative;
    z-index: 9;
    margin-bottom: 70px;
}

.home-banner {
    background-image: url('../../assets/image/hotel_img2.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    color: white;
    padding: 150px 0px 270px;
    /* Adjusted bottom padding */
    position: relative;
    z-index: 1;
}

.home-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Adjust the last value (0.5) for opacity level */
    z-index: -1;
}

.banner-content {
    margin: 0 auto;
}

.reconnect-text {
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 28px;
    font-family: 'Raleway';
    padding-bottom: 16px;
}

.reconnect-text span {
    margin: 0 10px;
}

.luxury-title {
    font-size: 88px;
    font-family: 'GFS Didot';
    padding-bottom: 20px;
    margin-bottom: 0px !important;
    letter-spacing: -2px;
    line-height: 100px;
}

.banner-subtitle {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0px !important;
    letter-spacing: 4px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 30px;
}

.view-facilities-btn {
    background-color: #000;
    color: white;
    font-family: 'Raleway';
    border: none;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 26px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.view-facilities-btn:hover {
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.booking-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    /* Adjust this value to control how much the form overlaps */
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 17px 35px;
    z-index: 10;
    width: 100%;
    max-width: 1280px;
}

body {
    overflow-x: hidden;
    position: relative;
}

.our_info {
    padding-top: 60px;
    position: relative;
    padding-bottom: 60px;
}

.video-box {
    width: 100%;
}

.our_info::before {
    content: "OUR STORY";
    position: absolute;
    top: 15%;
    left: -71px;
    transform: translateY(-50%);
    font-size: 200px;
    font-weight: 400;
    font-family: 'GFS Didot';
    color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    z-index: 2;
    pointer-events: none;
}

.our_info::after {
    content: "ABOUT VILLA";
    position: absolute;
    top: 51%;
    right: -100px;
    transform: translateY(51%);
    font-size: 200px;
    font-weight: 400;
    font-family: 'GFS Didot';
    color: rgba(0, 0, 0, 0.06);
    white-space: nowrap;
    z-index: 3;
    pointer-events: none;
}



.img-fluid {
    height: 340px !important;
    width: 600px;
    margin-left: 20px;
    position: relative;
    display: block;
    z-index: 1;
}

.border-overlay {
    position: absolute;
    top: 22px;
    right: 35px;
    height: 100%;
    z-index: 0;
    width: 94%;
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    pointer-events: none;
}

.image-box {
    position: relative;
}

.border_info {
    position: absolute;
    top: 22px;
    right: -26px;
    height: 100%;
    z-index: 0;
    width: 94%;
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    pointer-events: none;
}

.play-icon {
    position: absolute;
    top: 50%;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: #333;
    cursor: pointer;
}

.play_circle {
    cursor: pointer;
}

.section-title {
    padding-top: 40px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 4px;
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #B7A18B;
    text-transform: uppercase;
    font-weight: bold;
}

.title_part {
    padding-top: 40px;
}

.our_info h2 {
    padding-top: 12px;
    font-size: 48px;
    font-family: 'GFS Didot';
    line-height: 56px;
    letter-spacing: -1px;
    color: #1B1C21;
    margin-bottom: 0px;
    padding-bottom: 32px;
}

.our_info p {
    font-size: 17px;
    font-family: 'Raleway';
    line-height: 26px;
    color: #666666;
    margin-bottom: 0px;
}

.info_hr {
    margin: 24px 0px;
}

.right_col {
    padding-top: 120px;
}

.stats {
    margin-top: 30px;
}

.stat-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.icon-box img {
    width: 60px;
}

.text-box {
    padding-left: 10px;
}

.text-box h3 {
    font-family: 'GFS Didot';
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 0px;
    color: #1B1C21;
    font-weight: 400 !important;
}

.text-box p {
    padding-bottom: 0px;
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #1B1C21;
}


.lodging {
    padding: 40px 0px 60px;
}



.main-title {
    font-size: 48px;
    padding-top: 12px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 56px;
    font-family: 'GFS Didot';
    letter-spacing: -1px;
}

.description {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 17px;
    padding-top: 30px;
    margin-bottom: 0px;
    color: #666666;
    line-height: 26px;
}

.options-container {
    display: grid;
    padding: 60px 0px 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}

.option-card {
    background-color: #f4f1ee;
    padding: 32px;
    text-align: center;
}



.icon-placeholder img {
    width: 70px;
}

.option-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'GFS Didot';
}

.icon_orn {
    padding: 16px 0px;
}

.option-description {
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 26px;
    color: #666666;
    font-family: 'Raleway';
}

.detail_resort {
    background-color: #F7F7F7;
    position: relative;
}

.detail_resort::before,
.detail_resort::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 318px;
    z-index: 1;
}

.detail_resort::before {
    background-image: url('../../assets/image/detail_leaf1.svg');
    top: -27px;
    left: 55%;
}

.detail_resort::after {
    background-image: url('../../assets/image/detail_leaf2.svg');
    top: -35px;
    right: -50px;
}

.main_part {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 60px;
    position: relative;
    padding: 120px 0px;
}

.main_part::before,
.main_part::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 318px;
    z-index: 1;
}

.main_part::before {
    background-image: url('../../assets/image/detail_leaf3.svg');
    bottom: -50px;
    left: -198px;
}

.main_part::after {
    background-image: url('../../assets/image/deatil_leaf4.svg');
    bottom: -50px;
    right: 19%;
}

.left-section {
    flex: 7;
    /* First Gradient */
    background: rgb(71, 44, 16);
    background: linear-gradient(140deg, rgba(71, 44, 16, 0.6951155462184874) 0%, rgba(189, 189, 189, 1) 60%, rgba(71, 44, 16, 0.5018382352941176) 100%);
    padding: 70px 50px;
    color: #fff;
    text-align: left;
    position: relative;
    z-index: 2;
    margin: auto 0;
}

.left-section h2 {
    margin-bottom: 20px;
}

.logo_sec {
    padding-bottom: 30px;
}

.feature {
    background-color: #472c107d;
    margin-bottom: 24px;
    padding: 24px;
    width: 434px;

}

.feature:last-child {
    margin-bottom: 0;
    /* Remove extra margin on the last child */
}

.feature h4 {
    font-family: 'GFS Didot';
    font-weight: 400;
    font-size: 21px;
    padding-bottom: 12px;
    margin-bottom: 0px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 4px;
}

.feature p {
    margin-bottom: 0px;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.right-section {
    flex: 3;
    margin: 20px 0px;
    padding: 0px 40px;
    text-align: center;
    display: flex;
    gap: 40px;
    border-top: 2px solid #1B1C21;
    border-bottom: 2px solid #1B1C21;
    ;
    flex-direction: column;
    justify-content: center;
}

.right-section img {
    width: 80px;
    margin: 40px auto 0px;

}

.right-section h2 {
    font-family: 'GFS Didot';
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 2px;
    color: #1B1C21;
    margin-bottom: 0px;
}

.styled-hr {
    width: 123px;
    height: 2px;
    margin: 0px auto;
    color: #1B1C21;
    opacity: 1;
}

.right-section p {
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #666666;
    margin-bottom: 0px;
}

.right-section button {
    padding: 18px 44px;
    border: 1px solid #472C10;
    color: #1B1C21;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    margin: 0px auto;
    margin-bottom: 40px;
    background: transparent;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.right-section button:hover {
    background-color: #b8a48e;
    transition: all 0.3s ease-in-out;
    border: 1px solid #b8a48e;
}

.Amenities {
    padding-top: 60px;
    padding-bottom: 80px;
}

.Amenities_box .Amenities_box_data {

    padding: 100px 50px;

    background-repeat: no-repeat;
    text-align: center;
}

.pool_bg {
    position: relative;
    background-image: url('../../assets/image/pool_bg.jpg');
    background-size: cover;
    z-index: 1;
}

/* Overlay for background opacity */
.pool_bg::before,
.res_bg::before,
.gym_bg::before,
.spa_bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Adjust the last value (0.5) for opacity level */
    z-index: -1;
}

/* Ensure content stays above the overlay */
.Amenities_box_data {
    position: relative;
    z-index: 2;
}

/* If you have icons, make sure they're also above the overlay */
.Amenities_box_data img {
    position: relative;
    z-index: 2;
}

.res_bg {
    background-image: url('../../assets/image/restaurant_bg.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}

.gym_bg {
    background-image: url('../../assets/image/gym_bg.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}

.spa_bg {
    background-image: url('../../assets/image/spa_bg.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}

.Amenities_box_data .Amenities_icon {
    height: 40px;
    /* Darker square */
    text-align: center;
    margin: auto;
}

.Amenities_box_data .Amenities_icon img {
    width: 40px;
    filter: invert(1);
}

.Amenities_box_data h1 {
    color: white;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'GFS Didot';
}

.amenities-card {
    background-color: #1c1c1c;
    /* Dark card background */
    color: #fff;
    padding: 35px;
    position: relative;
    overflow: hidden;

}

.amenities-card::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -16px;
    width: 135px;
    height: 100px;
    background-image: url('../../assets/image/leaf.png');
    /* Replace with actual background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.amenities-card::after {
    content: '';
    position: absolute;
    top: -18px;
    right: 0px;
    width: 200px;
    height: 328px;
    background-image: url('../../assets/image/black_leaf.png');
    /* Replace with actual background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.amenities-card .card-content {
    position: relative;
    z-index: 1;
}

.amenities-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #c5a880;
    margin-bottom: 0.5rem;
    border-top: 1px solid white;
    padding-top: 60px;
}

.amenities-heading {
    font-size: 48px;
    font-weight: 400;
    font-family: 'GFS Didot';
    line-height: 56px;
    padding-bottom: 32px;
    letter-spacing: -1px;
}

.amenities-text {
    font-family: 'Raleway';
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 32px;
    letter-spacing: 1px;
    line-height: 26px;

}

.read-more-btn {
    display: inline-block;
    padding: 18px 44px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.read-more-btn:hover {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    transition: all 0.3s ease-in-out;
}

.card-content {
    position: relative;
}

.card-content::before {
    content: '';
    position: absolute;
    bottom: -82px;
    width: 150px;
    left: -42px;
    height: 163px;
    background-image: url('../../assets/image/black_leaf2.png');
    /* Replace with actual background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.b_white {
    padding-top: 50px;
    border-bottom: 1px solid white;
}

/* our_services */

.service {
    background-color: #472c109c;
    padding-top: 100px;
}

.our_service_box {
    background-color: white;
    height: auto;
}

.service .container.service_sec {
    margin-right: 0;
    padding-right: 0px;
    max-width: 1415px !important;
}

.our_service_box {
    padding-top: 100px;
}

.service_data_sec {
    padding: 0px !important;
}

.service_data_sec h6 {
    color: #ad8d7d;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 500;
}

.black_box {
    height: 70px;
    width: 70px;
}

.black_box img {
    width: 70px;
}

.service_data {
    padding-right: 80px !important;
    padding-left: 80px;
}

.service_data_box {
    background-color: #b7a18b33;
    margin-bottom: 16px;
    padding: 24px;
}

.black_box_detail {
    padding: 72px 80px !important;
    gap: 20px;
}

.black_box_detail button {
    padding: 18px 10px;
    border: 1px solid #fff;
    background: transparent;
    font-family: 'Raleway';
    line-height: 26px;
    color: #fff;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.black_box_detail button:hover {
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.contain_p {
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #fff;
}

.box_data h5 {
    text-transform: uppercase;
    font-family: 'GFS Didot';
    font-size: 21px;
    margin-bottom: 0px;
    line-height: 24px;
    letter-spacing: 3px;
}

.box_data p {
    font-family: 'Raleway';
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 26px;
    color: #666;
}

.service_blank {
    background-image: url('../../assets/image/our_Service.jpg');
    background-size: cover;
}

.testimonial_part {
    display: flex;
    flex-direction: row;
    gap: 45px;
    padding-top: 50px;
}

.testimonial-box {
    width: 100%;
    background: linear-gradient(90deg, rgba(200, 200, 200, 1) 0%,
            rgba(255, 255, 255, 1) 100%);
    padding: 50px 20px 25px 100px;
    position: relative;
    display: flex;
    border: 1px solid #D3D3D3;
    /* justify-content: flex-end; */
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    max-width: 500px;
}

.content_title {
    padding-left: 25px !important;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.content_title h3 {
    font-family: 'GFS Didot';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 0px;
    color: #1B1C21;
}

.content_title .title {
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #666666;
}

h3,
.content .title {
    margin: 0;
    padding: 0;
    display: inline-block;
    /* Keeps them inline but on separate lines */
    /* Ensures text is aligned to the right */
}

.quote-container {
    background-color: #472C10;
    opacity: 50%;
    padding: 18px;
    position: relative;
    margin-top: 20px;
    max-width: 318px;
    /* justify-content: flex-end; */
    margin-left: auto;
}

.testimonial-box .quote-mark {
    position: absolute;
    top: -15px;
    left: 11px;
}

.quote-text {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: white;
    font-family: 'Raleway';
    font-style: italic;
}

/* news_section */
.news-section {
    text-align: center;
    padding: 0px 0px 40px;
}

.news-item {
    margin-bottom: 20px;
}

.news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.title {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 28px;
    margin: 0 auto;
    text-align: center;
}

.news_head {
    font-family: 'GFS Didot';
    font-size: 48px;
    line-height: 56px;
}

.card-img-top {
    width: 100%;
    height: 300px;
}

.card-title a {
    text-decoration: none;
    padding-top: 20px;
    font-family: 'GFS Didot';
    font-size: 24px;
    color: #1B1C21;
    line-height: 32px;
}

.news-section .card-text {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
}

/* Escape_villa */
.escape_villa {
    background-color: #1B1C21;
    position: relative;
    height: 600px;
}

.escape_villa::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    background-image: url('../../assets/image/esacpe_leaf.svg');
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.escape_villa::after {
    content: "OUR VILLA";
    position: absolute;
    top: -28%;
    right: -86px;
    transform: translateY(51%);
    font-size: 200px;
    font-weight: 400;
    font-family: 'GFS Didot';
    color: #FFFFFF;
    white-space: nowrap;
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
}

.discover_btn {
    padding: 18px 44px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 4px;
    transition: all 0.3s ease-in-out;
}

.discover_btn:hover {
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

/* HeroSection.css */
.hero-container {
    position: relative;
    color: #fff;
    padding: 100px 0px;
}


/* choose us */

.left_side {
    width: 565px !important;
}

.right_side {
    width: 680px !important;
}

.why-choose-us-features {
    padding-top: 16px;
}

.why-choose-us-features .feature-item {
    display: flex;
    gap: 15px;
    padding-top: 24px;
    border-bottom: 2px solid #D3D3D3;
}

.feature-item:nth-child(4) {
    border: none;
}

.feature-icon {
    height: 50px;
    flex-shrink: 0;
}

.feature-icon img {
    width: 50px;
}

.feature-content h5 {
    font-size: 28px;
    margin-bottom: 0px;
    line-height: 36px;
    letter-spacing: 2px;
    font-family: 'GFS Didot';
    font-weight: 400;
    text-transform: uppercase;
}

.feature-content p {
    font-size: 17px;
    padding-bottom: 24px;
    margin-bottom: 0px;
    line-height: 26px;
    font-family: 'Raleway';
    color: #666;

}

/* Overall section styling */
.testimonial-section {
    padding: 80px 0;
    background-image: url('../../assets/image/dining_hall.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: visible;
    /* Allow image to overflow */
}

/* Container for the testimonial section */
.testimonial-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    gap: 30px;
    padding: 0 15px;
}

.image-left {
    z-index: 2;
}

/* Left image styling */
.image-left img {
    width: 390px;
    height: 370px;
    /* background-image: url('../../assets/image/hotel_interior.jpg'); */
    background-size: cover;
    position: absolute;
    top: 361px;
    left: -45px;
    border: 12px solid #fff;
    z-index: 1;
}

/* Right content area */
.content-right {
    width: 55%;
    min-height: 600px;
}

/* Author information box */
.author-info {
    padding: 24px;
    background-color: #828282;
    width: 330px;
    position: relative;
    z-index: 2;
    right: -63%;
    height: 165px;
    /* Ensure it overlaps correctly */
}

/* Author name styling */
.author-name {
    font-size: 18px;
    margin: 0;
    margin-left: 100px;
    line-height: 26px;
    font-family: 'Raleway';
    color: #1B1C21;
}

/* Author title styling */
.author-title {
    font-size: 14px;
    color: #1B1C21;
    margin-left: 100px;
    font-family: 'Inter';
    margin-top: 5px;
    line-height: 20px;
}

/* Testimonial text box */
.testimonial-text {
    background-color: #472c0a8c;
    /* Brown box */
    padding: 20px;
    color: white;
    top: -50px;
    right: -240px;
    position: relative;
    z-index: 2;
}

/* Text paragraph inside the testimonial text box */
.testimonial-text p {
    font-size: 14px;
    font-family: 'Raleway';
    line-height: 20px;
    font-style: italic;
    margin: 0;
}

/* Quote mark styling */
.testimonial-text .quote-mark {
    font-size: 94px;
    color: white;
    position: absolute;
    /* bottom: -18px; */
    top: -51px;
    right: 50px;
    font-family: serif;
}

/* Custom border styling for overall layout */
.testimonial-section::before {
    content: "";
    position: absolute;
    top: 118px;
    left: -19px;
    width: 100%;
    height: 80%;
    border: 1px solid #D3D3D3;
    z-index: 0;
}



/* Modal Styles */
.video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-content iframe {
    width: 100%;
    height: 450px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

.close-button:hover {
    color: #ff4c4c;
}

.news-section .card-body {
    margin-top: 20px;
}

@media (max-width:1230px) {
    .right_side {
        width: 500px !important;
    }

}

@media (max-width:1199px) {
    .title_part {
        padding-top: 32px;
    }

    .amenities-heading {
        margin-bottom: 0px;
        padding-bottom: 22px;
    }

    .right-section {
        gap: 30px;
    }

    .right-section br {
        display: none;
    }

    .right-section h2 {
        font-size: 24px;
        line-height: 34px;
    }
}


@media (max-width:1024px) {
    .luxury-title {
        font-size: 65px;
        line-height: 70px;
    }

    .our_info::before {
        font-size: 140px;
    }

    .our_info h2 {
        font-size: 37px;
        line-height: 40px;
    }

    .our_info p {
        font-size: 14px;
        line-height: 22px;
    }

    .img-fluid {
        margin-left: 10px;
    }

    .right_col .img-fluid {
        margin-left: 0px;
    }

    .icon-box img {
        width: 46px;
    }

    .text-box h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .text-box p {
        font-size: 14px;
        line-height: 20px;
    }

    .text-box {
        padding-left: 0px;
    }

    .our_info::after {
        font-size: 100px;
        top: 65%;
        right: 0px
    }

    .border_info {
        position: absolute;
        top: 17px;
        right: -10px;
    }

    .our_info {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .lodging {
        padding: 0px 0px 0px;
    }

    .main-title,
    .news_head {
        font-size: 40px;
        line-height: 48px;
    }

    .description {
        padding-top: 15px;
        font-size: 15px;
        margin-left: 14px;
        margin-right: 14px;
    }

    .chhose_us .description {
        margin-left: 0px;
        margin-right: 0px;
    }


    .icon-placeholder img {
        width: 48px;
    }

    .option-card {
        padding: 18px;
    }

    .options-container {
        gap: 20px;
    }

    .option-title {
        font-size: 20px;
        line-height: 24px;
    }

    .option-description {
        font-size: 14px;
        line-height: 20px;
    }

    .detail_resort::before,
    .detail_resort::after {
        width: 210px;
        height: 310px;
    }

    .detail_resort::after {
        right: 0px;
    }

    .main_part::before {
        left: -7px;
    }

    .main_part::before,
    .main_part::after {
        width: 210px;
        height: 310px;
    }

    .main_part::after {
        bottom: -80px;
        right: 22%;
    }



    .discover_btn {
        padding: 18px 15px;
    }

    .sunset-slide h2,
    .lakeside-slide h2,
    .misty-hills-slide h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .sunset-slide button,
    .lakeside-slide button,
    .misty-hills-slide button {
        padding: 18px 20px !important;
    }

    .feature-icon img {
        width: 40px;
    }

    .feature-content h5 {
        font-size: 20px;
        line-height: 30px;
    }

    .feature-content p {
        font-size: 15px;
        line-height: 20px;
    }

    .left_side {
        width: 45% !important;
    }

    .chhose_us .row {
        gap: 1rem !important;
    }


    .right_side {
        width: 53% !important;
    }

    .testimonial-text {
        right: -219px;
    }

    .author-info {
        left: 48%;
    }

    .amenities-heading {
        font-size: 40px;
        line-height: 43px;
        padding-bottom: 35px;
    }

    .Amenities_box_data h1 {
        font-size: 22px;
        line-height: 36px;
    }

    .Amenities {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .black_box img {
        width: 40px;
    }

    .service_data {
        padding-right: 55px !important;
        padding-left: 55px;
    }

    .box_data h5 {
        font-size: 19px;
        line-height: 22px;
    }

    .box_data p {
        font-size: 15px;
        line-height: 22px;
    }

    .black_box_detail {
        padding: 55px 55px !important;
    }

    .contain_p {
        font-size: 15px;
        line-height: 20px;
    }

    .slick-prev {
        left: -10px !important;
    }

    .slick-right {
        right: -10px !important;
    }

    .content_title .title {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .content_title h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .card-title {
        font-size: 20px;
        line-height: 26px;
    }

    .escape_villa::after {
        font-size: 100px;
        top: -4%;
        right: 0px;
    }

    .news-section {
        text-align: center;
        padding: 0px 0 10px;
    }

    .news-section .card-body {
        margin-top: 20px;
    }

    .right-section {
        gap: 30px;
    }

    .right-section br {
        display: none;
    }

    .right-section h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .image-left img {
        top: 318px;
    }

}


@media (max-width: 991px) {
    .testimonial-container {
        flex-direction: column;
    }

    .description br {
        display: none;
    }

    .image-left,
    .content-right {
        width: 85%;
        left: -17px;
    }

    .testimonial-card {
        position: relative;
        left: 0;
        width: 100%;
        margin-top: 30px;
    }

    .our_info::before {
        font-size: 120px;
        top: 12%;
    }



    .our_info h2 {
        font-size: 30px;
        line-height: 34px;
    }

    .icon-box {
        padding-right: 10px;
    }

    .text-box h3 {
        font-size: 20px;
        line-height: 23px;
    }

    .text-box p {
        font-size: 11px;
    }

    .stats {
        margin-top: 70px;
    }

    .our_info::after {
        top: 72%;
        font-size: 90px;
        right: 37px;
    }

    .options-container {
        grid-template-columns: repeat(2, 1fr);
        /* Show exactly 2 columns */
    }

    .detail_resort::before,
    .detail_resort::after {
        width: 170px;
        height: 206px;
    }

    .feature {
        width: 360px;
    }

    .feature h4 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .right-section p {
        font-size: 16px;
        line-height: 24px;
    }

    .right-section {
        padding: 0 26px;
        gap: 20px;
    }

    .right-section h2 {
        font-size: 19px;
        line-height: 29px;
    }

    .right-section button {
        padding: 18px 20px;
    }

    .escape_villa::after {
        font-size: 90px;
        top: -4%;
        right: 0px;
    }

    .detail_resort::after {
        right: 2px;
    }

    .main-title,
    .news_head {
        font-size: 34px;
        line-height: 44px;
    }

    .sunset-slide h2,
    .lakeside-slide h2,
    .misty-hills-slide h2 {
        font-size: 36px !important;
        line-height: 44px !important;
    }

    .chhose_us .row {
        gap: 30px !important;
    }

    .left_side {
        width: 45% !important;
    }

    .right_side {
        width: 50% !important;
    }

    .image-left img {
        width: 330px;
        left: -28px;
        top: 352px;
    }

    .testimonial-text {
        right: -114px;
        width: 73%;
    }

    .author-info {
        left: 10%;
    }

    .feature-content h5 {
        font-size: 16px;
        line-height: 26px;
    }

    .service_data {
        padding-right: 20px !important;
        padding-left: 20px;
    }

    .box_data h5 {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
    }

    .black_box_detail {
        gap: 5px;
    }

    .black_box_detail button {
        font-size: 12px;
    }

    .black_box_detail {
        padding: 25px 25px !important;
    }

    .contain_p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 768px) {
    .left_side {
        width: 345px !important;
    }

    .right_side {
        width: 390px !important;
    }

    .image-left img {
        top: 409px;
    }
}

/* Responsive Styles */
@media (max-width: 767px) {
    .home-banner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-title {
        letter-spacing: 0px;
    }

    .luxury-title {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 1px;
    }

    .reconnect-text,
    .banner-subtitle {
        font-size: 12px;
        line-height: 20px;
    }

    .main_part {
        display: flex;
        flex-direction: column;
        padding: 60px 0px;
    }

    .left-section {
        padding: 50px 25px;
    }

    .right-section {
        margin: 0px 0px;
        gap: 22px;
    }

    .left-section .feature:last-child {
        margin-bottom: 0px;
    }

    .our_info::before {
        font-size: 85px;
    }

    .title_part {
        padding-top: 25px;
    }

    .options-container {
        padding: 50px 0px;
    }

    .img-fluid {
        margin-left: 0px;
    }

    .right_col {
        padding-top: 0px;
    }

    .feature {
        width: 100%;
    }

    .options-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .discover_btn {
        margin-top: 20px;
    }

    .escape_villa {
        height: 700px;
    }

    .our_info::before {
        font-size: 64px;
        top: 5%;
        left: 0px;
    }

    .our_info::after {
        font-size: 52px;
        right: 0px;
        top: 50%;
    }

    .escape_villa::after {
        font-size: 64px;
        right: 5px;
    }

    .icon-box img {
        width: 55px;
    }

    .text-box h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .text-box p {
        font-size: 14px;
    }

    .stats {
        margin-top: 20px;
    }

    .stat-box {
        margin-bottom: 30px;
    }

    .main_part::after {
        bottom: -30px;
        right: 0%;
    }

    .main_part::before,
    .main_part::after {
        width: 120px;
        height: 160px;
    }

    .escape_villa::before {
        width: 120px;
        height: 160px;
    }

    .detail_resort::before {
        left: 0px;
    }

    .detail_resort::after {
        right: 0px;
    }

    .detail_resort::before,
    .detail_resort::after {
        width: 120px;
        height: 160px;
    }

    .service .container.service_sec {
        padding-right: 10px;
    }

    .stat-box {
        flex-direction: column;
        text-align: center;
    }

    .service_blank {
        height: 585px;
    }

    .service_sec .black_box_detail {
        display: block !important;
    }

    .black_box_detail button {
        width: 100%;
        margin: 20px auto 0px;
        text-align: center;
    }

    .left_side {
        width: 100% !important;
    }

    .Amenities {
        padding-top: 20px;
        padding-bottom: 70px;
    }

    .right_side {
        width: 100% !important;
    }

    .service {
        padding: 70px 0px;
    }

    .testimonial-section1 {
        padding: 70px 0px;
    }

    .testimonial-section1 .title_part {
        padding-top: 0px;
    }

    .news-section {
        padding: 0px 0px 70px;
    }

    .news-section .container {
        padding: 0px 0px !important;
    }

    .news-section .row {
        display: block !important;
        margin: 0px 5px !important;
    }

    .news-section .card-body {
        margin: 10px 0px 0px;
    }

    .image-left {
        width: 100%;
        left: 0px;
    }

    .image-left {
        position: inherit;
        z-index: 2;
    }

    .image-left img {
        position: inherit;
        top: 0;
        left: 0;
        border: 0px;
        margin-top: 10px;
        width: 100%;
    }

    .content-right {
        min-height: 500px;
    }

    .testimonial-section::before {
        display: none;
    }

    .lodging .title_part {
        padding-top: 0px;
    }
}