.banner-wrapper {
    position: relative;
    margin-bottom: 70px;
}

.home-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    height: auto;
    color: white;
    padding: 150px 0px 270px;
    /* Adjusted bottom padding */
    position: relative;
}

.banner-content {
    margin: 0 auto;
}

.reconnect-text {
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 28px;
    font-family: 'Raleway';
    padding-bottom: 16px;
}

.reconnect-text span {
    margin: 0 10px;
}

.luxury-title {
    font-size: 88px;
    font-family: 'GFS Didot';
    padding-bottom: 20px;
    margin-bottom: 0px !important;
    letter-spacing: -2px;
    line-height: 100px;
}

.banner-subtitle {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0px !important;
    letter-spacing: 4px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 30px;
}

.view-facilities-btn {
    background-color: #000;
    color: white;
    font-family: 'Raleway';
    border: none;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-facilities-btn:hover {
    background-color: #333;
}

.booking-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    /* Adjust this value to control how much the form overlaps */
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 17px 48px;
    z-index: 10;
    width: 100%;
    max-width: 1280px;
}

body {
    overflow-x: hidden;
    position: relative;
}

.our_info {
    padding-top: 60px;
    position: relative;
    padding-bottom: 60px;
}

.video-box {

    width: 100%;
    height: 300px;
}

.our_info::before {
    content: "OUR STORY";
    position: absolute;
    top: 15%;
    left: -179px;
    transform: translateY(-50%);
    font-size: 200px;
    font-weight: 400;
    font-family: 'GFS Didot';
    color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
}

.our_info::after {
    content: "ABOUT VILLA";
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(51%);
    font-size: 200px;
    font-weight: 400;
    font-family: 'GFS Didot';
    color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
}

.img-fluid {
    height: 340px !important;
    width: 600px;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: #333;
    cursor: pointer;
}

.section-title {
    padding-top: 40px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 4px;
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #B7A18B;
    text-transform: uppercase;
    font-weight: bold;
}

.title_part {
    padding-top: 40px;
}

.our_info h2 {
    padding-top: 12px;
    font-size: 48px;
    font-family: 'GFS Didot';
    line-height: 56px;
    letter-spacing: -1px;
    color: #1B1C21;
    margin-bottom: 0px;
    padding-bottom: 32px;
}

.our_info p {
    font-size: 17px;
    font-family: 'Raleway';
    line-height: 26px;
    color: #666666;
    margin-bottom: 0px;
    padding-bottom: 24px;
}

.right_col {
    padding-top: 120px;
}

.stats {
    margin-top: 30px;
}

.stat-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-box {
    width: 70px;
    height: 70px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    padding-left: 10px;
}

.text-box h3 {
    font-family: 'GFS Didot';
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 0px;
    color: #1B1C21;
    font-weight: 400 !important;
}

.text-box p {
    padding-bottom: 0px;
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #1B1C21;
}

.image-box {
    background-color: #d3d3d3;
    height: 340px;
    width: 600px;

}

.lodging {
    padding: 40px 0px 60px;
}

.section-title {
    color: #a29061;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.main-title {
    font-size: 48px;
    padding-top: 12px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 56px;
    font-family: 'GFS Didot';
    letter-spacing: -1px;
}

.description {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 17px;
    padding-top: 30px;
    margin-bottom: 0px;
    color: #666666;
    line-height: 26px;
}

.options-container {
    display: grid;
    padding: 60px 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}

.option-card {
    background-color: #f4f1ee;
    padding: 32px;
    text-align: center;
}

.icon-placeholder {
    width: 70px;
    height: 70px;
    background-color: #4F4F4F;
    margin: 0 auto 1rem;
}

.option-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 32px;
    font-family: 'GFS Didot';
}

.icon_orn {
    padding: 16px 0px;
}

.option-description {
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 26px;
    color: #666666;
    font-family: 'Raleway';
}

.detail_resort {
    background-color: #F7F7F7;
    position: relative;
}

.detail_resort::before,
.detail_resort::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 318px;
    z-index: 1;
}

.detail_resort::before {
    background-image: url('../assets/image/detail_leaf1.svg');
    top: -27px;
    left: 55%;
}

.detail_resort::after {
    background-image: url('../assets/image/detail_leaf2.svg');
    top: -35px;
    right: -50px;
}

.main_part {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 60px;
    position: relative;
    padding: 120px 0px;
}

.main_part::before,
.main_part::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 318px;
    z-index: 1;
}

.main_part::before {
    background-image: url('../assets/image/detail_leaf3.svg');
    bottom: -50px;
    left: -150px;
}

.main_part::after {
    background-image: url('../assets/image/deatil_leaf4.svg');
    bottom: -50px;
    right: 19%;
}

.left-section {
    flex: 7;
    /* First Gradient */
    background: linear-gradient(to right, rgb(130, 116, 102), rgb(167, 163, 157));
    padding: 70px 50px;
    color: #fff;
    text-align: left;
    position: relative;
    z-index: 2;
}

.left-section h2 {
    margin-bottom: 20px;
}

.logo_sec {
    padding-bottom: 30px;
}

.feature {
    background-color: #472c107d;
    margin-bottom: 24px;
    padding: 24px;
    width: 434px;

}

.feature h4 {
    font-family: 'GFS Didot';
    font-weight: 400;
    font-size: 21px;
    padding-bottom: 12px;
    margin-bottom: 0px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 4px;
}

.feature p {
    margin-bottom: 0px;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.right-section {
    flex: 3;
    margin: 20px 0px;
    padding: 0px 40px;
    text-align: center;
    display: flex;
    gap: 40px;
    border-top: 2px solid #1B1C21;
    border-bottom: 2px solid #1B1C21;
    ;
    flex-direction: column;
    justify-content: center;
}

.right-section img {
    width: 80px;
    margin: 40px auto 0px;

}

.right-section h2 {
    font-family: 'GFS Didot';
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 2px;
    color: #1B1C21;
}

.styled-hr {
    width: 123px;
    height: 2px;
    margin: 0px auto;
    color: #1B1C21;
    opacity: 1;
}

.right-section p {
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #666666;
}

.right-section button {
    padding: 18px 44px;
    border: 1px solid #472C10;
    color: #1B1C21;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    margin: 0px auto;
    margin-bottom: 40px;
    background: transparent;
    letter-spacing: 2px;
}

.right-section button:hover {
    background-color: #b8a48e;
}

.Amenities {
    padding-top: 60px;
    padding-bottom: 10px;
}

.Amenities_box .Amenities_box_data {
    background-color: gray;
    padding: 100px 50px;
    text-align: center;
}

.Amenities_box_data .Amenities_icon {
    width: 40px;
    height: 40px;
    background-color: #333;
    /* Darker square */
    text-align: center;
    margin: auto;
}

.Amenities_box_data h1 {
    color: white;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'GFS Didot';
}

.amenities-card {
    background-color: #1c1c1c;
    /* Dark card background */
    color: #fff;
    padding: 35px;
    position: relative;
    overflow: hidden;

}

.amenities-card::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -16px;
    width: 135px;
    height: 100px;
    background-image: url('../assets/image/leaf.png');
    /* Replace with actual background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.amenities-card::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100px;
    background-image: url('../assets/image/detail_leaf3.svg');
    /* Replace with actual background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.amenities-card .card-content {
    position: relative;
    z-index: 1;
}

.amenities-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #c5a880;
    margin-bottom: 0.5rem;
    border-top: 1px solid white;
    padding-top: 60px;
}

.amenities-heading {
    font-size: 48px;
    font-weight: 400;
    font-family: 'GFS Didot';
    line-height: 56px;
    padding-bottom: 32px;
    letter-spacing: -1px;
}

.amenities-text {
    font-family: 'Raleway';
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 32px;
    letter-spacing: 1px;   
    line-height: 26px;
    
}

.read-more-btn {
    display: inline-block;
    padding:18px 44px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.read-more-btn:hover {
    background-color: #fff;
    color: #1c1c1c;
}

.b_white {
    padding-top: 50px;
    border-bottom: 1px solid white;
}

/* our_services */

.our_service {
    background-color: #472C10;
    padding-top: 50px;
    padding-left: 50px;
    opacity: 50%;
    display: none;
    height: 800px;
}

.service_contain {
    background-color: #fff;
    height: 700px;
}

.testimonial_part {
    display: flex;
    flex-direction: row;
    gap: 45px;
    padding-top: 50px;
}

.testimonial-box {
    width: 100%;
    background: linear-gradient(to bottom, #CCCCCC, #B3B3B3);
    padding: 50px 20px 25px 100px;
    position: relative;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    max-width: 500px;
}

.content_title {
    padding-left: 25px !important;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.content_title h3 {
    font-family: 'GFS Didot';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 0px;
    color: #1B1C21;
}

.content_title .title {
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #666666;
}

h3,
.content .title {
    margin: 0;
    padding: 0;
    display: inline-block;
    /* Keeps them inline but on separate lines */
    /* Ensures text is aligned to the right */
}

.quote-container {
    background-color: #472C10;
    opacity: 50%;
    padding: 18px;
    position: relative;
    margin-top: 20px;
    max-width: 318px;
    /* justify-content: flex-end; */
    margin-left: auto;
}

.quote-mark {
    position: absolute;
    top: -16px;
    left: 19px;
    color: white;
    opacity: 0.8;
    z-index: 1;
}

.quote-text {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: white;
    font-family: 'Raleway';
    font-style: italic;
}

/* news_section */
.news-section {
    text-align: center;
    padding: 40px 0;
}

.news-item {
    margin-bottom: 20px;
}

.news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.title {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 28px;
    margin: 0 auto;
    text-align: center;
}

.news_head {
    font-family: 'GFS Didot';
    font-size: 48px;
    line-height: 56px;
}

.card-title {
    padding-top: 20px;
    font-family: 'GFS Didot';
    font-size: 24px;
    line-height: 32px;
}

.card-text {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .luxury-title {
        font-size: 40px;
    }

    .reconnect-text,
    .banner-subtitle {
        font-size: 12px;
    }
}