/* components/header.css */

/* Top Bar Styling */
.top-bar {
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #1B1C21;
    font-family: 'Raleway';
    border-bottom: 1px solid #D3D3D3;
}

.left-links a {
    text-decoration: none;
    color: #1B1C21;

}

a {
    text-decoration: none !important;
}

.right-links span {
    font-size: 12px;
    color: #1B1C21;
    letter-spacing: 1px;
    line-height: 26px;
    font-family: 'Raleway';
}

.right-links img {
    padding: 5px;
}

/* Logo Styling */


/* Navbar Styling */
.navbar {
    padding-top: 4px !important;
}

.navbar-nav .nav-link {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 4%;
    color: #1B1C21;
    margin: 0 15px;
    font-family: 'GFS Didot';
}

.navbar-nav .nav-link:hover {
    color: #8b5e34;
}

.dropdown-menu {
    background-color: #f8f9fa;
    width: 287px;
    margin: 0px !important;
    padding: 0px !important;
    border: none;
    border-radius: 0px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.dropdown-menu .dropdown-item {
    color: #1B1C21 !important;
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    padding: 17px;
}

.active {
    background-color: #B7A18B !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

.dropdown-toggle::after {
    content: '' !important;
    background-image: url('../../assets/image/drop_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    border: none !important;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: 8px;
    left: 4px;
}

@media(max-width:767px) {
    .main-header .top-bar {
        display: block !important;
    }

    .our_info::before {
        display: none;
    }

    .our_info::after {
        display: none;
    }

    .escape_villa::after {
        display: none;
    }
}