/* components/header.css */

/* Top Bar Styling */
.top-bar {
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #1B1C21;
    font-family: 'Raleway';
    border-bottom: 1px solid #D3D3D3;
}

.left-links a {
    text-decoration: none;
    color: #1B1C21;

}

a {
    text-decoration: none !important;
}

.right-links span {
    font-size: 12px;
    color: #1B1C21;
    letter-spacing: 1px;
    line-height: 26px;
    font-family: 'Raleway';
}

.right-links img {
    padding: 5px;
}

/* Logo Styling */


/* Navbar Styling */
.navbar {
    padding-top: 4px !important;
}

.navbar-nav .nav-link {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 4%;
    color: #1B1C21;
    margin: 0 15px;
    font-family: 'GFS Didot';
}

.navbar-nav .nav-link:hover {
    color: #8b5e34;
}

.left-links a:hover {
    color: #8b5e34;
}

.right-links span:hover {
    color: #8b5e34;
}

.right-links img:hover,
.left-links img:hover {
    filter: invert(41%) sepia(19%) saturate(1033%) hue-rotate(346deg) brightness(88%) contrast(84%);
}

.dropdown-menu {
    background-color: #f8f9fa;
    width: 287px;
    margin: 0px !important;
    padding: 0px !important;
    border: none;
    border-radius: 0px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.dropdown-menu .dropdown-item {
    color: #1B1C21 !important;
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    padding: 17px;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: #B7A18B !important;
    color: #1B1C21 !important;
}

.dropdown-item:hover {
    background-color: #B7A18B !important;
    transition: all 0.3s ease-in-out;
}

.dropdown-toggle::after {
    content: '' !important;
    background-image: url('../../assets/image/drop_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    border: none !important;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: 8px;
    left: 4px;
}

.nav-link.dropdown-toggle.open {
    color: #000;
    /* Change color to black when dropdown is open */
}

img.menu-toggle-icon {
    width: 35px;
}

@media(max-width:991px) {
    .navbar-nav img {
        display: none;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        z-index: 1;
        position: absolute;
        top: -3px;
        right: -11px;
        background: #F9FAFB;
        width: 100vw;
        transition: all 0.3s ease-in-out;
        text-align: center;
    }

    .navbar_menu_icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* Ensure the container spans the full width */
    }

    .mobile-dropdown {
        position: static;
        width: 100%;
        border: none;
        padding-left: 1rem;
        background: #f8f9fa;
    }

    .mobile-dropdown .dropdown-item {
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        width: 300px;
        margin: auto !important;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .top-bar {
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .main-header .mobile_top {
        padding: 8px 0px !important;
    }

    .main-header .left-links,
    .right-links {
        justify-content: center;
        gap: 40px !important;
    }

    .right-links {
        margin-left: 20px;
    }



    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        z-index: 1;
        position: absolute;
        top: 10px;
        right: -11px;
        background: #F9FAFB;
        width: 100vw;
        transition: all 0.3s ease-in-out;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

    img.menu-toggle-icon {
        width: 24px;
    }


    .right-links {
        display: flex;
        align-items: center;
    }

    .navbar-brand img {
        width: 170px;
    }


    .navbar-nav img {
        display: none;
    }
}

@media (max-width:567px) {
    .right-links span {
        display: none;
    }
}