.testimonial_part {
    display: flex;
    flex-direction: row;
    gap: 45px;
    max-width: 800px;
    padding-top: 50px;
}

.testimonial-slider-part {
    padding-top: 60px;
}

.testimonial-slider-part .slick-next, .testimonial-slider-part .slick-prev {
    background: #472c10d9;
    width: 40px;
    border-radius: 50%; 
    height: 40px;
    z-index: 1;
    color: #1B1C21;
}

.testimonial-slider-part .slick-next:before ,.testimonial-slider-part .slick-prev:before {
    font-size: 30px;
    z-index: 1;
}

.testimonial-box {
    width: 100%;
    background: linear-gradient(90deg, rgba(200, 200, 200, 1) 0%,
            rgba(255, 255, 255, 1) 100%);
    padding: 50px 20px 25px 100px;
    position: relative;
    display: flex;
    border: 1px solid #D3D3D3;
    /* justify-content: flex-end; */
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    max-width: 500px;
}

.content_title {
    padding-left: 25px !important;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.content_title h3 {
    font-family: 'GFS Didot';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 0px;
    color: #1B1C21;
}

.content_title .title {
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 26px;
    color: #666666;
}

h3,
.content .title {
    margin: 0;
    padding: 0;
    display: inline-block;
    /* Keeps them inline but on separate lines */
    /* Ensures text is aligned to the right */
}

.quote-container {
    background-color: #472C10;
    opacity: 50%;
    padding: 18px;
    position: relative;
    margin-top: 20px;
    max-width: 318px;
    /* justify-content: flex-end; */
    margin-left: auto;
}

.testimonial-box .quote-mark {
    position: absolute;
    top: -15px;
    left: 11px;
}

.quote-text {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: white;
    font-family: 'Raleway';
    font-style: italic;
}