.slick-dots {
    z-index: 1;
    bottom: -30px !important;
}

.slick-list {
    padding-bottom: 10px !important;
}

.slick-dots li {
    width: 40px;
    margin: 0 10px;
}

.slick-dots li button {
    width: 40px;
}

.slick-dots li button:before {
    content: '';
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 0px;
    background-color: #D3D3D3;
}

.slick-dots li.slick-active button:before {
    content: '';
    display: block;
    width: 40px;
    text-align: center;
    margin: 0px auto;
    height: 6px;
    background-color: #000;
    border-radius: 1px;
    background-image: none;
}

.about_slide.slider-container .slider-item {
    padding: 0 10px;
    background-color: #fff;
}

.slide1_img {
    background-image: url('../../assets/image/hotel_interior.jpg');
    background-size: cover;
}

.slide2_img {
    background-image: url('../../assets/image/news_section2.jpg');
    background-size: cover;
}

.slide3_img {
    background-image: url('../../assets/image/restaurant_bg.jpg');
    background-size: cover;
}

.slider-container .slider-content {
    height: 400px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1024px) {
    .pine_slider {
        padding: 70px 0px !important;
    }

    .detail_resort {
        margin-top: 0px !important;
    }
}